---
import { getCollection } from 'astro:content';
import { title } from '../common.ts';

import Layout from '../layouts/Layout.astro';
import LeafletMarker from '../components/LeafletMarker.astro';
import ProjectCard from '../components/ProjectCard.astro';
import ProjectDetails from '../components/ProjectDetails.astro';

const projects = await getCollection('projects');
const coordinates = projects.map(p => p.data.coordinates).reduce((acc, cur) => [acc[0] + cur[0], acc[1] + cur[1]], [0, 0]).map((sum: number) => sum / projects.length);
const backgroundColor = '#182121';
const headerHeight = '15rem';
const headerHeightSmall = '4rem';
---

<Layout>
    <main style={ `--backgroundColor: ${backgroundColor}; --headerHeight: ${headerHeight}; --headerHeightSmall: ${headerHeightSmall}` }>
        <header class="header" id="headerSection">
            <h1>{ title }</h1>
            <p>Mapa d’artefactes <em>site-specific</em> que exploren la relació entre ésser humà i natura mitjançant un disseny biocèntric i multiespècie. Cada projecte genera una experiència estètica integrada en l’entorn, a través de l’ús de materials locals i de tècniques artesanes tradicionals o contemporànies.</p>
        </header>
        <section class="sidebar" id="sidebarSection">
            { projects.map((project) => <ProjectCard { project } />) }
        </section>
        <section class="map" id="mapSection" data-initial-coordinates={ coordinates } data-initial-zoom="6">
            { projects.map((project) => <LeafletMarker { project } />) }
        </section>
        <section class="details hide" id="detailsSection">
            { projects.map((project) => <ProjectDetails { project } />) }
        </section>
    </main>
</Layout>

<script>
    import { Map, TileLayer } from 'leaflet';
    import { TILES_URL } from '../common.ts';

    const map = new Map(mapSection).setView(mapSection.dataset.initialCoordinates.split(','), mapSection.dataset.initialZoom);
    const tile = new TileLayer(`${TILES_URL}/{z}/{x}/{y}.png`, {
      maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
</script>

<style>
main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: var(--headerHeight) 1fr;
  grid-template-areas:
    "header map map map map"
    "sidebar map map map map";

  & > section {
      max-height: 100dvh;
      overflow: auto;
  }
}

.header {
  grid-area: header;
  background: var(--backgroundColor);
  color: white;
  padding: 1rem;
  overflow: auto;

  & h1 {
      font-size: 1.2rem;
      font-weight: bolder;
      margin-top: .2rem;
  }
  & p {
      font-size: .9rem;
  }
}

.sidebar {
  grid-area: sidebar;
  background: var(--backgroundColor);
  max-height: calc(100dvh - var(--headerHeight));
}

.map {
  grid-area: map;
  background: #90CCCB;
  height: 100%;
  width: 100%;
}

.details {
  grid-area: 1 / 4 / 3 / 6;
  background: white;
  z-index: 1000; /* same as leaflet max */
  height: 100%;
  width: 100%;

  transition: transform 0.3s ease;

  &.hide {
      transform: translateX(100dvw);
  }
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: var(--headerHeightSmall) 1fr 60dvh;
        grid-template-areas:
            "header"
            "map"
            "sidebar";
    }

    .details {
        grid-area: 3 / 1 / 4 / 2;
        transition: transform 0.3s ease;
        &.hide {
            transform: translateY(150dvw);
        }
    }

    .header {
      & p {
          display: none;
      }
    }
</style>
